# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar
*.trc
*.dmp
*.phd

# VECT Dir
VECT/hs_err_pid*
VECT/01JVMS
VECT/03results
VECT/04SynthesisHistory
VECT/out
VECT/sootOutput

#out
target
.idea
.jython_cache
*.iml
*.class
.DS_Store